li{
    height: 130px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #20b2aa;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,248,238,1) 0%, rgba(223,249,238,1) 100%);
    list-style-type: none;
}

.li-row{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.content-li {
    font-size: 17px;
}

.btn-li{
    margin: 1rem auto 2rem 1rem;
    text-align: center;
    width: 10rem;
    border-radius: none;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,248,238,1) 0%, rgba(223,249,238,1) 100%);
    cursor: pointer;
    font-size: 16px;
    border-color: #20b2aa;
}

.btn-li:hover{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,248,238,1) 0%, rgba(223,249,238,1) 100%);
    color: #20b2aa;
}