<div class="container">
    <button class="btn-li mat-elevation-z4" > Adicionar Funcionário </button>
    <button class="btn-li mat-elevation-z4"> Remover Funcionário </button>
      <ul>
        <li *ngFor="let funcionario of funcionarios">
          <strong> ID: </strong> {{ funcionario.id }}<br>
          <strong> Nome: </strong> {{ funcionario.nome }}<br>
          <strong> CPF: </strong> {{ funcionario.cpf }}<br>
          <strong> Serviço exercido: </strong> {{ funcionario.servico }}<br>
          <strong> Nº de celular: </strong> {{ funcionario.celular }}<br>
          <strong> Valor (R$): </strong> {{ funcionario.email }}<br>
          <strong> E-mail: </strong> {{ funcionario.email }}<br>
        </li>
      </ul>
  
  </div>