<div class="container">
  <button class="btn-li mat-elevation-z4"> Adicionar Cliente </button>
  <button class="btn-li mat-elevation-z4">Remover Cliente </button>
    <ul>
      <li *ngFor="let cliente of clientes">
        <strong> ID: </strong> {{ cliente.id }}<br>
        <strong> Nome do Cliente: </strong> {{ cliente.nomeCliente }}<br>
        <strong> CPF: </strong> {{ cliente.cpf }}<br>
        <strong> Nome do Pet: </strong> {{ cliente.nomePet }}<br>
        <strong> Espécie do Pet: </strong> {{ cliente.especiePet }}<br>
        <strong> Serviço: </strong> {{ cliente.servico }}<br>
        <strong> Data: </strong> {{ cliente.data }}<br>
        <strong> Valor (R$): </strong> {{ cliente.valor }}
      </li>
    </ul>

</div>

